* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', serif;
  font-size: 1rem;
  margin: 15px auto;
  text-align: center;
  width: 600px;
}

header {
  background-color: #f5f5dc;
  border-radius: 5px;
  color: #94805a;
  padding: 25px 0;
}

header .title {
  margin-bottom: 10px;
}

.highlight {
  font-style: italic;
}

.navigation {
  border-bottom: 1px solid #dddddd;
  padding: 15px 0;
  margin-bottom: 20px;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: #000000;
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 1px dotted #000000;
}

.profile {
  margin-bottom: 10px;
}

.image-dog {
  background-image: url("dog.jpg");
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #000000;
  border-bottom-width: 3px;
  margin: 15px auto 0;
}

.description {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.description p {
  padding: 15px 0;
}

footer {
  padding: 20px 0;
}
